<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <input type="text" name="input" id="input">
    <button id="btn">Pobierz dane</button>
    <div id="showData"></div>
    <div id="return">Wynik: {{result}}</div>
    <a href="./about">Idź do strony about</a>
    <br>
    <img src="/images/2.png" width="400px" alt="Image">
    <script src="/js/func.js"></script>
</body>
</html>